.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
