@charset "UTF-8";
body {
  background-color: #a6c1c1a3;
  font-family: sans-serif;
}

.nofloatGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}
.nofloatGroup.double {
  width: 98%;
}
.nofloatGroup.double .label {
  width: 10%;
}
.nofloatGroup.noWhiteSpace {
  padding-left: 0;
}
.nofloatGroup .label {
  pointer-events: none;
  color: #515a5a;
  background: white;
  padding-left: 3px;
  width: 20%;
  min-width: 140px;
}

.noWhiteSpace {
  padding-top: 0;
  padding-bottom: 0;
}

.floatGroup {
  padding-left: 1%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
}

.floatControl.noFixHeight {
  height: auto;
}

.floatLabel {
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translate(5px, 10px) scale(1);
          transform: translate(5px, 10px) scale(1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: rgba(81, 90, 90, 0.76);
  pointer-events: none;
}
.floatLabel.outset {
  font-weight: bold;
  /*color: #4e799e;*/
  color: #515a5a;
  -webkit-transform: translate(5px, -8px) scale(1);
          transform: translate(5px, -8px) scale(1);
  /*background: white;*/
  padding-left: 3px;
  padding-left: 3px;
}

.floatControl {
  width: auto;
  height: 35px;
  padding: 6px;
}
.floatControl:focus {
  background-color: transparent;
}

.collapsibleHeader {
  cursor: pointer;
  padding: 18px;
  /*width: 100%;*/
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsibleHeader .titleText {
  background-color: transparent;
}
.collapsibleHeader .titleText:after {
  content: "➕";
  font-size: 13px;
  float: right;
  margin-left: 5px;
  vertical-align: middle;
  margin-top: 5px;
}
.collapsibleHeader .titleText.active:after {
  content: "➖";
}

.collapsibleContent {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  overflow-x: auto;
  overflow-y: hidden;
}

.titleText {
  /*@extend %textStyle;*/
  font-size: 14pt;
  font-weight: bold;
  padding: 4px;
  float: left;
}

.label {
  width: auto;
}
.label-faded {
  opacity: 0.7;
}
.textBox:disabled {
  color: rgba(0, 0, 0, 0.54);
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.05);
}
.textBox:enabled {
  color: rgba(0, 0, 0, 0.54);
}
.textBox:focus {
  color: white;
  background-color: white;
  outline: none;
}
.textBox:focus-within {
  color: rgba(0, 0, 0, 0.87);
}
.textBox:required:invalid {
  border-left: 2px solid #d34545;
  padding-left: 2px;
}
.textBox:required:valid {
  border-left: 2px solid #4da241;
  padding-left: 2px;
}

.grid:enabled, .grid, .textBox:enabled, .label {
  color: #515a5a;
}

.gridAlterRow {
  background-color: #E0E4E4;
}

.gridHeader {
  background-color: #5f6d6d;
}

.textBox:disabled {
  background-color: rgba(0, 0, 0, 0.05);
}

.grid, .label, .label-footer {
  font-family: FrutigerNextLT-Light, sans-serif;
  font-size: 14px;
}

.textBox {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.btnNeutral {
  background-color: rgba(81, 90, 90, 0.9);
  color: white;
  font-size: 15px;
}
.btnNeutral .span {
  color: white;
}
.btnNeutral:hover {
  /*background-color: rgba($value, .87);*/
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
          box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
}
.btnNeutral.kpDisabled {
  background-color: rgba(81, 90, 90, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.btnNeutral.kpDisabled.mdi-light:before {
  color: gray;
}
.btnNeutral.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnNeutral-inverted {
  border: none;
  color: rgba(81, 90, 90, 0.9);
  font-size: 15px;
  font-weight: bold;
  /*.span {
      color: white;
  }*/
}
.btnNeutral-inverted:hover {
  background-color: lightgray;
  cursor: pointer;
}
.btnNeutral-inverted.kpDisabled {
  background-color: rgba(81, 90, 90, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
.btnNeutral-inverted.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnSuccess {
  background-color: rgba(77, 162, 65, 0.9);
  color: white;
  font-size: 15px;
}
.btnSuccess .span {
  color: white;
}
.btnSuccess:hover {
  /*background-color: rgba($value, .87);*/
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
          box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
}
.btnSuccess.kpDisabled {
  background-color: rgba(77, 162, 65, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.btnSuccess.kpDisabled.mdi-light:before {
  color: gray;
}
.btnSuccess.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnSuccess-inverted {
  border: none;
  color: rgba(77, 162, 65, 0.9);
  font-size: 15px;
  font-weight: bold;
  /*.span {
      color: white;
  }*/
}
.btnSuccess-inverted:hover {
  background-color: lightgray;
  cursor: pointer;
}
.btnSuccess-inverted.kpDisabled {
  background-color: rgba(77, 162, 65, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
.btnSuccess-inverted.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnWarning {
  background-color: rgba(239, 190, 60, 0.9);
  color: white;
  font-size: 15px;
}
.btnWarning .span {
  color: white;
}
.btnWarning:hover {
  /*background-color: rgba($value, .87);*/
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
          box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
}
.btnWarning.kpDisabled {
  background-color: rgba(239, 190, 60, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.btnWarning.kpDisabled.mdi-light:before {
  color: gray;
}
.btnWarning.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnWarning-inverted {
  border: none;
  color: rgba(239, 190, 60, 0.9);
  font-size: 15px;
  font-weight: bold;
  /*.span {
      color: white;
  }*/
}
.btnWarning-inverted:hover {
  background-color: lightgray;
  cursor: pointer;
}
.btnWarning-inverted.kpDisabled {
  background-color: rgba(239, 190, 60, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
.btnWarning-inverted.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnDanger {
  background-color: rgba(211, 69, 69, 0.9);
  color: white;
  font-size: 15px;
}
.btnDanger .span {
  color: white;
}
.btnDanger:hover {
  /*background-color: rgba($value, .87);*/
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
          box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
}
.btnDanger.kpDisabled {
  background-color: rgba(211, 69, 69, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.btnDanger.kpDisabled.mdi-light:before {
  color: gray;
}
.btnDanger.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnDanger-inverted {
  border: none;
  color: rgba(211, 69, 69, 0.9);
  font-size: 15px;
  font-weight: bold;
  /*.span {
      color: white;
  }*/
}
.btnDanger-inverted:hover {
  background-color: lightgray;
  cursor: pointer;
}
.btnDanger-inverted.kpDisabled {
  background-color: rgba(211, 69, 69, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
.btnDanger-inverted.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnCreate {
  background-color: rgba(59, 107, 148, 0.9);
  color: white;
  font-size: 15px;
}
.btnCreate .span {
  color: white;
}
.btnCreate:hover {
  /*background-color: rgba($value, .87);*/
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
          box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
}
.btnCreate.kpDisabled {
  background-color: rgba(59, 107, 148, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.btnCreate.kpDisabled.mdi-light:before {
  color: gray;
}
.btnCreate.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnCreate-inverted {
  border: none;
  color: rgba(59, 107, 148, 0.9);
  font-size: 15px;
  font-weight: bold;
  /*.span {
      color: white;
  }*/
}
.btnCreate-inverted:hover {
  background-color: lightgray;
  cursor: pointer;
}
.btnCreate-inverted.kpDisabled {
  background-color: rgba(59, 107, 148, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
.btnCreate-inverted.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnStrongWarning {
  background-color: rgba(255, 165, 0, 0.9);
  color: white;
  font-size: 15px;
}
.btnStrongWarning .span {
  color: white;
}
.btnStrongWarning:hover {
  /*background-color: rgba($value, .87);*/
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
          box-shadow: 0 0 13px 1px rgba(95, 109, 109, 0.7);
}
.btnStrongWarning.kpDisabled {
  background-color: rgba(255, 165, 0, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.btnStrongWarning.kpDisabled.mdi-light:before {
  color: gray;
}
.btnStrongWarning.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnStrongWarning-inverted {
  border: none;
  color: rgba(255, 165, 0, 0.9);
  font-size: 15px;
  font-weight: bold;
  /*.span {
      color: white;
  }*/
}
.btnStrongWarning-inverted:hover {
  background-color: lightgray;
  cursor: pointer;
}
.btnStrongWarning-inverted.kpDisabled {
  background-color: rgba(255, 165, 0, 0.38);
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
.btnStrongWarning-inverted.kpDisabled:hover {
  /*background-color: rgba($value, .87);*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mdi-19px.mdi-set, .mdi-19px.mdi:before {
  font-size: 19px;
  margin: 1px;
}

.inRow {
  font-size: 14px;
  padding: 4px;
}

.iconButton {
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 21px;
  padding: 2px 3px 2px 3px;
  /*padding: 7px 4px 4px 4px;*/
  text-decoration: none;
  font-weight: normal;
  margin: 1px;
  outline: 0 none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*&:hover {
      &:before {
          -webkit-animation: mdi-spin 0.4s 1 linear;
          -moz-animation: mdi-spin 0.4s 1 linear;
          -o-animation: mdi-spin 0.4s 1 linear;
          animation: mdi-spin 0.4s 1 linear;
      }
  }*/
}
.iconButton:disabled {
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
  color: gray;
}
.iconButton:disabled .mdi-light {
  color: gray;
}

.grid {
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  border-color: grey;
  background-color: transparent;
  border-bottom-width: thin;
  margin-top: 5px;
}
.grid td {
  border: 1px solid white;
  border-left: none;
  border-right: none;
}
.grid th {
  border-right: 1px solid white;
}
.grid tr {
  height: 32px;
  padding: 2px;
}
.grid .gridPager {
  /*display: inline-block;*/
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.grid .gridPager table {
  float: right;
}
.grid .gridPager table > tbody > tr > td {
  display: inline;
}
.grid .gridPager table > tbody > tr > td > a,
.grid .gridPager table > tbody > tr > td > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: rgba(81, 90, 90, 0.9);
  font-weight: bold;
  background-color: white;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.grid .gridPager table > tbody > tr > td > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  margin-left: -1px;
  z-index: 2;
  color: #3b6b94;
  background-color: rgba(0, 0, 0, 0.15);
  border-color: #dddddd;
  cursor: default;
}

.gridHeader {
  color: white;
  font-weight: bold;
  text-align: left;
}
.gridHeader th {
  padding: 2px;
  text-align: left;
}

.gridBody {
  background: white;
}

.gridRow {
  background-color: white;
  border: none;
}
.gridRow:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.23));
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.23));
}

.gridAlterRow {
  border: none;
}
.gridAlterRow:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem rgba(136, 136, 136, 0.78));
  filter: drop-shadow(0 0 0.75rem rgba(136, 136, 136, 0.78));
}

.gridSelectedRow {
  background-color: rgba(24, 130, 9, 0.55);
  font-weight: bold;
}